// npm Security Aggregator ~~ MIT License

body {
   max-width: 1200px;
   color: gainsboro;
   background-color: maroon;
   }

body >header {
   margin-bottom: 40px;
   >figure {
      font-size: 3.5em;
      }
   >h1 {
      margin-bottom: 10px;
      }
   }

main {
   margin-bottom: 40px;
   >section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      >h2 {
         display: none;
         }
      >label {
         margin-bottom: 3px;
         >span {
            font-weight: bold;
            text-align: center;
            margin-bottom: 3px;
            }
         }
      >p {
         text-align: center;
         }
      >span.error-message {
         color: gold;
         font-weight: bold;
         margin-bottom: 5px;
         }
      >figure {
         display: none;
         width: 100%;
         margin-bottom: 20px;
         >figcaption {
            font-family: monospace;
            font-size: 1.6em;
            }
         >pre {
            max-width: 700px;
            max-height: 250px;
            text-align: left;
            border: 5px solid silver;
            border-radius: 3px;
            padding: 10px 20px;
            margin: 0px auto;
            overflow: scroll;
            }
         }
      >nav {
         text-align: center;
         >button {
            font-size: 1.2rem;
            margin: 0px 10px 10px 10px;
            >img {
               height: 1.8em;
               vertical-align: middle;
               margin: 0px 0.5em 2px 0px;
               }
            }
         }
      }
   }

body >footer {
   b {
      font-size: 1.1rem;
      }
   }
